/*  ==================================
    Paleta de Cores:
    ----------------
    Violeta: #8625d2,
    Cinza-claro: #f0f2f5,
    Cinza-medio: #9499aa,
    Branco-fino: #fefeff,


    Ordem de atributos:
    --------------------
    1 - atributos de espacamento
    2 - atributos de posicionamento
    3 - atributos relacionados a cores
    4 - atributos de acao
    5 - demais atributos

    Ordem das estilizacoes define-se pela arvore DOM
  ================================== */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

@media (min-width: 1200px) {
  .container-default {
    max-width: 1140px;
  }
}
  
@media (min-width: 992px) {
  .container-default {
    max-width: 960px;
  }
}
  
@media (min-width: 768px) {
  .container-default {
    max-width: 720px;
  }
}
  
@media (min-width: 576px) {
  .container-default {
    max-width: 540px;
  }
}
  
  .header-position {
    display: flex;
    flex-direction: column ;
  }
  
  .main-container {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    
    background-color: #f0f2f5;
  }
  
  .header {
    height: 10rem;
    width: 100%;
    padding-top: 30px;
    

    display: flex;
    justify-content: space-between;
    align-items: center;
    display: inline-block;
    
    background-color: #8625d2;
  }

  .float-container {
    margin-top: -35px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 20px;
  }  
  
  .float-box {
    font-weight: 300;
    min-width: 30%;
    padding: 10px 20px;
    padding-top: 5px;
    border-radius: 3px;
    color: #363f5f;
    border: 1px solid #fff;
    background-color: #fff;
  }

  .float-box span {
    font-size: small;
    font-weight: 500;
  }

  .float-box h2 {
    font-size:xx-large;
    margin: 0px;
    padding: 0px;
  }

  .navbar .bi-arrow-up-circle {
    color: #33cc95;
  }

  .navbar .bi-arrow-down-circle {
    color: #e84863;
  }


  #total {
    background-color: #33cc95;
    border: solid 1px #33cc95;
    color: #fff;
  }

  #body-content {
    height: 75%;
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #f0f2f5;
  }

  
  .title {
    font-size: 25px;
    font-weight: 300;
    color: #fefeff;
  }
  
  .action-button {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #a458df;
    color: #fefeff;
  }

  .user-button {
    border-radius: 5px; 
    padding: 10px 15px; 
    font-weight: 300;
    border: none; 
    cursor: pointer;
    
    background-color: #a458df; 
    color: #fefeff; 
  }

  .user-button:hover {
    background-color: #731fb5;
  }
  
  #body-content {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f0f2f5;
  }
  
  .content-sections {
    width: 23%;
    display: flex;
    flex-direction: column;
    margin: 2%;
  }
  
  .content-section {
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fefeff;
  }
  
  .table-section {
    flex: 1;
  }
  
  .data-table {
    width: 100%;
    border-spacing: 0;
  }
  
  .data-table th {
    padding: 10px;
    border-radius: 5px;
    color: #9499aa;
    border-bottom: 2px solid #9499aa;
  }
  
  .data-table td {
    border-bottom: 1px solid #9499aa;
    padding: 10px;
    border-radius: 5px;
  }
  
.sobreposition-box {
  position: absolute;
  top: 5em;

  box-sizing: border-box;
}
